<p><strong>Nom :</strong> {{ contact.firstName }} ,  <strong>prenom :</strong> {{ contact.lastName }}</p>
<p><strong> Email :</strong>{{ contact.email }} , <strong>Telephone :</strong>  {{ contact.telephone }} </p>


<p>{{ contact.message }}</p>