{% extends 'base.html.twig' %}

{% block title %}{{ categorie.name }} {% endblock %}

{% block stylesheets %}    
<style>
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 0px !important;
    }
</style>
{% endblock %}

{% block body %}

<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="{{path('homepage')}}">Home</a></li>
					<li class="active">{{ categorie.category }}</li>
					<li class="active">{{ categorie.name }}</li>
				</ol>
			</div>
				<!-- row -->
				<div class="row">

				<div class="col-md-12">
						<div class="section-title">
							<p class="title">{{ categorie.description | raw }}</p>
						</div>
					</div>

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Produits</h3>
						</div>
					</div>
				
                    {% for produit in produits %}
					<!-- product -->

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/uploads/imagep/{{ produit.primaryImage }}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">{{ categorie.name }}</p>
								<h3 class="product-name"><a href="#">{{ produit.name }}</a></h3>
								<h6>{{ produit.description | raw }}</h6>
								<h4 class="product-price">{{ produit.price }} DT</h4>
								<a href="{{ path('show_produit',{ 'id' : produit.id }) }}" class="btn btn-success">Détails</a>
					
							</div>
							<div class="add-to-cart">
								<button id="btn-add-cart" onclick="location.href='{{ path('add_one_to_cart', { 'id' : produit.id }) }}'" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->
                    {% endfor %}

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

{% endblock %}
