<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
        <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
        <title>
            {% block title %}FerroShop {% endblock %}
        </title>
            {% block stylesheets %}
            {% endblock %}
    </head>
    <body>

        <!-- HEADER -->
        <header>
            <!-- TOP HEADER -->
            <div id="top-header">
                <div class="container">
                    <ul class="header-links pull-left">
                        <li>
                            <a href="#">
                                <i class="fa fa-phone"></i>
                                +21612345678</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope-o"></i>
                                boubaker.takwa@gmail.com</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker"></i>
                                sousse, sahloul</a>
                        </li>
                    </ul>
                    <ul class="header-links pull-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-dollar"></i>
                                DT</a>
                        </li>

                        {% if app.user %}
                        {% for role in app.user.roles %}
                                {% if role == 'ROLE_USER' %}
                                    <li>
                                        <a class="btn btn-success" href="{{ path('new_product') }}">
                                            Add Product</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-warning" href="{{ path('admin_order') }}">
                                            Orders</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-info" href="{{ path('store_products') }}">
                                            Products</a>
                                    </li>
                                {% endif %}
                            {% endfor %}


                            <li>
                                <a class="btn btn-danger" href="{{ path('app_logout') }}">
                                    logout</a>
                            </li>
							{% else %}
                            <li>
                                <a class="btn btn-success" href="{{ path('app_login') }}">
                                    Login</a>
                            </li>
                            <li>
                                <a class="btn btn-danger" href="{{ path('app_registration') }}">
                                    Register</a>
                            </li>
							
							{% endif %}
                        
                    </ul>
                </div>
            </div>
            <!-- /TOP HEADER -->

            <!-- MAIN HEADER -->
            <div id="header">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="#" class="logo">
                                    <h3 style="margin-top: 20px;color: #fff;">FerroShop</h3>
                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form action="{{ path('search') }}">
                                    {{render(controller('App\\Controller\\FrontController::libelleCategorie' )) }}
                                    <input name="q" class="input" placeholder="Search here">
                                    <button class="search-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->
                        <div class="col-md-3 clearfix">
                            <div class="header-ctn">

                                <!-- Cart -->
                                <div class="dropdown">
                                    {{render(controller('App\\Controller\\CartController::nbproduit' )) }}

                                </div>
                                <!-- /Cart -->

                                <!-- Menu Toogle -->
                                <div class="menu-toggle">
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                        <span>Menu</span>
                                    </a>
                                </div>
                                <!-- /Menu Toogle -->
                            </div>
                        </div>
                        <!-- /ACCOUNT -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
        </header>
        <!-- /HEADER -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">

                {% block body %}{% endblock %}

            </div>
        </div>
        <!-- FOOTER -->
        <footer id="footer">
            <!-- top footer -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">About Us</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                                <ul class="footer-links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-map-marker"></i>sousse, sahloul</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-phone"></i>+21612345678</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope-o"></i>boubaker.takwa@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Categories</h3>
                                <ul class="footer-links">
                                    <li>
                                        <a href="#">Hot deals</a>
                                    </li>
                                    <li>
                                        <a href="#">Laptops</a>
                                    </li>
                                    <li>
                                        <a href="#">Smartphones</a>
                                    </li>
                                    <li>
                                        <a href="#">Cameras</a>
                                    </li>
                                    <li>
                                        <a href="#">Accessories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix visible-xs"></div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Information</h3>
                                <ul class="footer-links">
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('contact') }}">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Orders and Returns</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Service</h3>
                                <ul class="footer-links">
                                    <li>
                                        <a href="#">My Account</a>
                                    </li>
                                    <li>
                                        <a href="#">View Cart</a>
                                    </li>
                                    <li>
                                        <a href="#">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="#">Track My Order</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /top footer -->
            <!-- bottom footer -->
            <div id="bottom-footer" class="section">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="footer-payments">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cc-visa"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-credit-card"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cc-paypal"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cc-mastercard"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cc-discover"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cc-amex"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | takwa Boubaker
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bottom footer -->
        </footer>
        <!-- /FOOTER -->

        <!-- jQuery Plugins -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/nouislider.min.js"></script>
        <script src="/js/jquery.zoom.min.js"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>