{% extends 'base-admin.html.twig' %}

{% block title %}Hello DashbaordController!{% endblock %}

{% block body %}

<div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg1">
                    <i aria-hidden="true" class="fa fa-user-o"></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_user }}</h3>
                    <span class="widget-title1">User
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg2">
                    <i class="fa fa-window-restore"></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_post }}</h3>
                    <span class="widget-title2">Product
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg3">
                    <i aria-hidden="true" class="fa fa-list-ul"></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_category }}</h3>
                    <span class="widget-title3">Category
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg4">
                    <i aria-hidden="true" class="fa  fa-th-list"></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_subCategory }}</h3>
                    <span class="widget-title4">Sub Category
                        <i aria-hidden="true" class="fa fa-check "></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg4">
                    <i aria-hidden="true" class="fa fa-arrows "></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_gov }}</h3>
                    <span class="widget-title4">governorate
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg3">
                    <i aria-hidden="true" class="fa fa-arrow-circle-o-right"></i>
                </span>
                <div class="dash-widget-info text-right">
                    <h3>{{  nb_city }}</h3>
                    <span class="widget-title3">cities
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>

{% endblock %}
